.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #101d48;
  color: $clr-white;

  &__logo {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;

    img {
        width: 36px;
        height: 36px;
    }
  }

  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    gap: 2rem;
  }
}

.navbar__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
