.settingsContent{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.settings{
    width: 50%;
    height: 80%;
    background-color: peru;
    border: 3px solid black;
    margin: 1rem;

    &__text{
        padding: 1rem;;
    }
}